<div class="card horizontal">
  <div class="card-image">
     <i class="small material-icons">apps</i>
     <br>
    <h3 class="card-title"><span class="p-span name-title">Engineer Name: </span>{{name}}</h3>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p class="card-text"><span class="p-span">Id: </span>{{id}}</p>
      <p class="card-text"><span class="p-span">Email: </span>{{email}}</p>
      <p class="card-text"><span class="p-span">Github: </span>{{github}}</p>
    </div>
  </div>
</div>